@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&display=swap');

.biden {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.biden h1 {
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;
    color: #EEEEEE;
}

body {
    background-color: #121212;
}
